{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    Home
{% endblock page_title %}


{% block content %}
    {{now}}
    <!--{% for room in rooms %}
        <h1>{{room.name}} / ${{room.price}} </h1>
    {% endfor %}

    <h5>
    {% if page is not 1 %}
        <a href="?page={{page|add:-1}}">Previous</a>
    {% endif %}

    Page {{page}} of {{page_count}}

    {% if not page == page_count %}
        <a href="?page={{page|add:1}}">Next</a>
    {% endif %}
    <h5>-->

    <div class="container mx-auto">

        <div class="rounded-lg bg-gray-800 -mx-40 h-50vh mt-32 mb-24 bg-cover bg-center" style="background-image:url(https://www.taiwan.net.tw/att/topBackground2018/20_0001090_1.jpg)"></div>

        <!--use Paginator-->
        <div class="flex flex-wrap -mx-40">
        {% for room in rooms %}

            {% include 'partials/room_card.html' with room=room %}
            <!-- need dispaly cards so move those codes to "room_card.html"
            <h3>
                <a href="{% url "rooms:detail" room.pk %}">
                    {{room.name}} / ${{room.price}}
                </a>
            </h3>-->
        {% endfor %}
        </div>

        <h5>
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}

        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">Next</a>
        {% endif %}

        
        </h5>

    </div>


{% endblock  %}



